    <li id="<%= dom_id(discussion) %>">
      <a href="#" class="block hover:bg-gray-50">
        <div class="px-4 py-4 flex items-center justify-between sm:px-6">
          <div class="min-w-0 flex-1 sm:flex sm:items-center">
            <div class="truncate">
              <div class="flex text-sm">
                <%= link_to discussion.name, discussion, class: "block font-medium text-indigo-600 truncate" %>
                <% if discussion.pinned? %>
                  <p class="ml-1 flex-shrink-0 font-normal text-gray-500">
                    Pinned
                  </p>
                <% end %>
                <% if discussion.closed? %>
                  <p class="ml-1 flex-shrink-0 font-normal text-gray-500">
                    Closed
                  </p>
                <% end %>
              </div>
              <div class="mt-2 flex">
                <div class="flex items-center text-sm text-gray-500">
                  <!-- Heroicon name: solid/calendar -->
                  <svg class="flex-shrink-0 mr-1.5 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                    <path fill-rule="evenodd" d="M6 2a1 1 0 00-1 1v1H4a2 2 0 00-2 2v10a2 2 0 002 2h12a2 2 0 002-2V6a2 2 0 00-2-2h-1V3a1 1 0 10-2 0v1H7V3a1 1 0 00-1-1zm0 5a1 1 0 000 2h8a1 1 0 100-2H6z" clip-rule="evenodd" />
                  </svg>
                  <p>
                    Updated
                    <time datetime="2020-01-07">January 7, 2020</time>
                  </p>
                </div>
              </div>
            </div>
            
          </div>
          <div class="flex">
            <div class="w-6 ml-5 flex-shrink-0">
              <%= link_to "Edit", edit_discussion_path(discussion) %>
            </div>
            <div class="w-8 ml-5 flex-shrink-0">
              <%= button_to "Delete", discussion, method: :delete %>
            </div>
          </div>
        </div>
      </a>
    </li>