<div>
  <div class="md:grid md:grid-cols-4 md:gap-6">
    <div class="md:col-span-1">
    </div>
    <div class="mt-5 md:mt-0 md:col-span-2">
      <%= form_with(model:discussion) do |form| %>
        <% if discussion.errors.any? %>
          <div id="error_explanation">
            <h2><%= pluralize(discussion.errors.count, "error") %> prevented this discussion from being saved:</h2>
            <ul>
              <% discussion.errors.each do |error| %>
                <li><%= error.full_message %></li>
              <% end %>
            </ul>
          </div>
        <% end %>

        <div class="shadow sm:rounded-md sm:overflow-hidden">
          <div class="px-4 py-5 bg-white space-y-6 sm:p-6">
            <div class="grid grid-cols-3 gap-6">
              <div class="col-span-3 sm:col-span-2">
                <%= form.label :name, class: "block text-sm font-medium text-gray-700" %>
                <div class="mt-1 flex rounded-md shadow-sm">
                  <%= form.text_field :name, placeholder: "How do I...?", class: "focus:ring-indigo-500 focus:border-indigo-500 flex-1 block w-full rounded-none rounded-r-md sm:text-sm border-gray-300" %>
                </div>
              </div>
            </div>

            <div class="mt-4 space-y-4">
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :pinned, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>                    
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :pinned, class: "font-medium text-gray-700" %>
                  <p class="text-gray-500">Pin this discussion.</p>
                </div>
              </div>
              <div class="flex items-start">
                <div class="flex items-center h-5">
                  <%= form.check_box :closed, class: "focus:ring-indigo-500 h-4 w-4 text-indigo-600 border-gray-300 rounded" %>
                </div>
                <div class="ml-3 text-sm">
                  <%= form.label :closed, class: "font-medium text-gray-700" %>
                  <p class="text-gray-500">Mark this discussion as closed.</p>
                </div>
              </div>
              <% if discussion.new_record? %>
          <%= form.fields_for :posts do |p| %>
            <%= p.rich_text_area :body, placeholder: "Kickoff the discussion" %>
          <% end %>
        <% end %>
            </div>
          </div>
        </div>

        
      
        <div class="px-4 py-3 bg-gray-50 text-right sm:px-6">
          <%= form.submit class: "inline-flex justify-center py-2 px-4 border border-transparent shadow-sm text-sm font-medium rounded-md text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        </div>
      </div>
      
    </div>
    <% end %>
  </div>
</div>