<%= turbo_frame_tag dom_id(discussion) do %>
  <div class="md:flex md:items-center md:justify-between md:space-x-4 xl:border-b xl:pb-6">  
    <div>
      <h1 class="text-2xl font-bold text-gray-900"><%= discussion.name %></h1>
      <p class="mt-2 text-sm text-gray-500">
        <% if discussion.pinned %>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-green-100 text-green-800">
            Pinned
          </span>
        <% end %>
        <% if discussion.closed %>
          <span class="inline-flex items-center px-2.5 py-0.5 rounded-full text-xs font-medium bg-red-100 text-red-800">
            Closed
          </span>
        <% end %>
      </p>
    </div>
    <div class="mt-4 flex space-x-3 md:mt-0">
        <%= button_to "Edit", edit_discussion_path(discussion), class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900" %>
        <%= button_to "Delete", discussion, method: :delete, class: "inline-flex justify-center px-4 py-2 border border-gray-300 shadow-sm text-sm font-medium rounded-md text-gray-700 bg-white hover:bg-gray-50 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-gray-900", data: { confirm: "Are you sure? This cannot be undone."} %>
    </div>
  </div>
<% end %>