<div class="bg-white px-4 py-5 border-b border-gray-200 sm:px-6">
  <div class="-ml-4 -mt-2 flex items-center justify-between flex-wrap sm:flex-nowrap">
    <div class="ml-4 mt-2">
      <h3 class="text-lg leading-6 font-medium text-gray-900">
        Edit Discussion
      </h3>
    </div>
  </div>
</div>

<%= turbo_frame_tag dom_id(@discussion) do %>
  <%= render("form", discussion: @discussion) %>
  <%= link_to "Cancel", @discussion %>
<% end %>