<%= turbo_stream_from @discussion %>
<div class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8">
  <div class="max-w-3xl mx-auto">
    <%= render(partial: "discussions/header", locals: { discussion: @discussion }) %>

    <div class="flow-root mt-4">
      <ul id="posts" role="list" class="-mb-8">
        <%= render partial: "discussions/posts/post", collection: @posts %>
      </ul>
    </div>

    <div id="<%= dom_id(@new_post) %>" class="mt-12">
      <%= render("discussions/posts/form", post: @new_post) %>
    </div>

  </div>
</div>