<%= turbo_frame_tag dom_id(post) do %>
<li>
  <div class="relative pb-8">
    <span class="absolute top-5 left-5 -ml-px h-full w-0.5 bg-gray-200" aria-hidden="true"></span>
    <div class="relative flex items-start space-x-3">
      <div class="relative">
        <img class="h-10 w-10 rounded-full bg-gray-400 flex items-center justify-center ring-8 ring-white" src="https://images.unsplash.com/photo-1520785643438-5bf77931f493?ixlib=rb-=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=facearea&facepad=8&w=256&h=256&q=80" alt="">
        <span class="absolute -bottom-0.5 -right-1 bg-white rounded-tl px-0.5 py-px">
          <!-- Heroicon name: solid/chat-alt -->
          <svg class="h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
            <path fill-rule="evenodd" d="M18 5v8a2 2 0 01-2 2h-5l-5 4v-4H4a2 2 0 01-2-2V5a2 2 0 012-2h12a2 2 0 012 2zM7 8H5v2h2V8zm2 0h2v2H9V8zm6 0h-2v2h2V8z" clip-rule="evenodd" />
          </svg>
        </span>
      </div>
      <div class="min-w-0 flex-1">
        <div>
          <div class="text-sm">
            <a href="#" class="font-medium text-gray-900"><%= post.user.username %></a>
          </div>
          <p class="mt-0.5 text-sm text-gray-500">
            Posted on: <%= post.created_at %>
          </p>
        </div>
      
        <div class="mt-2 text-sm text-gray-700">
          <p>
            <%= post.body %>
          </p>
        </div>
      </div>
      <div class="mt-4 flex space-x-1 md:mt-4">
        <%= link_to "Edit", edit_discussion_post_path(post.discussion, post), data: { turbo_frame: dom_id(post) }, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded shadow-sm text-white bg-indigo-600 hover:bg-indigo-700 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
        <%= button_to "Delete", discussion_post_path(post.discussion, post), method: :delete, class: "inline-flex items-center px-2.5 py-1.5 border border-transparent text-xs font-medium rounded text-indigo-700 bg-indigo-100 hover:bg-indigo-200 focus:outline-none focus:ring-2 focus:ring-offset-2 focus:ring-indigo-500" %>
      </div>  
      
    </div>
  </div>
</li>
<% end %>