<h1>Edit post</h1>
<%= turbo_frame_tag dom_id(@post) do %>
  <%= render(partial: "discussions/posts/header", locals: { post: @post }) %>
  <%= render("form", post: @post) %>
  <%= link_to "Back", discussion_post_path(@post.discussion, @post) %>  
<% end %>