<!-- This example requires Tailwind CSS v2.0+ -->
    <header class="bg-indigo-600">
      <nav class="max-w-7xl mx-auto px-4 sm:px-6 lg:px-8" aria-label="Top">
        <div class="w-full py-6 flex items-center justify-between border-b border-indigo-500 lg:border-none">
          <div class="flex items-center">
            <%= link_to(root_path, class: "navbar-brand") do %>
              <span class="sr-only">Hotwire Forums</span>
              <img class="h-10 w-auto" src="https://tailwindui.com/img/logos/workflow-mark.svg?color=white" alt="">
            <% end %>
            <div class="hidden ml-10 space-x-8 lg:block">
              <%= link_to "Discussions", discussions_path, class: "text-base font-medium text-white hover:text-indigo-50" %>
            </div>
          </div>
          <div class="ml-10 space-x-4">
            <% if user_signed_in? %>
              <%= link_to Current.user.username, edit_user_registration_path, class: "inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75" %>
              <%= link_to "Sign Out", destroy_user_session_path, method: :delete, class: "inline-block bg-white py-2 px-4 border border-transparent rounded-md text-base font-medium text-indigo-600 hover:bg-indigo-50" %>
            <% else %>
              <%= link_to "Sign Up", new_user_registration_path, class: "inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75" %>
              <%= link_to "Log In", new_user_session_path, class: "inline-block bg-indigo-500 py-2 px-4 border border-transparent rounded-md text-base font-medium text-white hover:bg-opacity-75" %>
            <% end %>
          </div>
        </div>
        <div class="py-4 flex flex-wrap justify-center space-x-6 lg:hidden">
          <a href="#" class="text-base font-medium text-white hover:text-indigo-50" key="Solutions">
            Solutions
          </a>

          <a href="#" class="text-base font-medium text-white hover:text-indigo-50" key="Pricing">
            Pricing
          </a>
        </div>
      </nav>
    </header>