<!DOCTYPE html>
<html>
  <head>
    <title>HotwireForums</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <%= render("shared/flash") %>

    <%= render("shared/navigation") %>
    <%= yield %>
  </body>
</html>
